<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dropbox_Client_Id</key>
	<string></string>
	<key>Dropbox_Client_Secret</key>
	<string></string>
	<key>Google_Drive_Client_Id</key>
	<string></string>
	<key>Google_Drive_Client_Secret</key>
	<string></string>
	<key>Google_Drive_Keychain_Name</key>
	<string></string>
</dict>
</plist>
